---
// Card.astro
import Badge from "./Badge.astro";
import Scripts from "./Scripts.astro";

interface Props {
  imagen: string;
  titulo: string;
  href: string;
  tecnologias: { nombre: string; icono: string; color: string }[];
}

const astroProps = Astro.props as Props;
const { imagen, titulo, href, tecnologias } = astroProps;
---

<Scripts />
<div class="col-md-6">
  <div class="card mb-3">
    <img src={imagen} class="card-img-top p-0 m-0" alt="Imagen de la card" />
    <div class="card-body">
      <h5 class="card-title mb-3">{titulo}</h5>
      <div class="contenedor-badges">
        {
          tecnologias.map((tecnologia, index) => (
            <Badge
              nombre={tecnologia.nombre}
              icono={tecnologia.icono}
              color={tecnologia.color}
            />
          ))
        }
      </div>
      <a
        target="_blank"
        href={href}
        class="btn btn-outline-warning float-end mt-3">
        <i class="bi bi-eye"></i>
        Ver más</a
      >
    </div>
  </div>
</div>
