---
// Card.astro
import Badge from "./Badge.astro";

interface Props {
  titulo: string;
  parrafo: string;
  href: string;
  tecnologias: { nombre: string; icono: string }[];
}

const astroProps = Astro.props as Props;
const { titulo, parrafo, href, tecnologias } = astroProps;
---
<div class="col-md-6">
  <div class="card mb-3">
    <img src="/imgs/market-up.png" class="card-img-top" alt="Imagen de la card" />
    <div class="card-body">
      <h5 class="card-title">{titulo}</h5>
      <p class="card-text">{parrafo}</p>
      <div class="contenedor-badges">
        {tecnologias.map((tecnologia, index) => (
          <Badge
            nombre={tecnologia.nombre}
            icono={tecnologia.icono}
          />
        ))}
      </div>
      <a href={href} class="btn btn-primary float-end mt-3">Ver más</a>
    </div>
  </div>
</div>
