---
// Card.astro
import Badge from "./Badge.astro";

interface Props {
  imagen: string;
  titulo: string;
  parrafo: string;
  href: string;
  tecnologias: { nombre: string; icono: string; color: string }[];
}

const astroProps = Astro.props as Props;
const {imagen, titulo, parrafo, href, tecnologias } = astroProps;
---
<div class="col-md-6">
  <div class="card mb-3">
    <img src={imagen} class="card-img-top" alt="Imagen de la card" />
    <div class="card-body">
      <h5 class="card-title">{titulo}</h5>
      <p class="card-text">{parrafo}</p>
      <div class="contenedor-badges">
        {tecnologias.map((tecnologia, index) => (
          <Badge
            nombre={tecnologia.nombre}
            icono={tecnologia.icono}
            color={tecnologia.color}
          />
        ))}
      </div>
      <a target="_blank" href={href} class="btn btn-outline-warning float-end mt-3">Ver más</a>
    </div>
  </div>
</div>
