---
import dataCards from "../config/dataCards.json"; 
import Badge from "./Badge.astro";

interface Props {
    titulo: string;
    parrafo: string;
    href: string;
}

const { titulo, parrafo, href } = Astro.props;
---

<div class="col-md-6">
    <div class="card mb-3">
        <!-- Imagen en la parte superior de la card -->
        <img
            src="/imgs/market-up.png"
            class="card-img-top"
            alt="Imagen de la card"
        />
        <div class="card-body">
            <!-- Título -->
            <h5 class="card-title">{titulo}</h5>
            <!-- Párrafo -->
            <p class="card-text">{parrafo}</p>
            <!-- Tags -->
            <div class="contenedor-badges">
                {
                    dataCards.cards.map((card, index) => (
                      Array.isArray(card.tecnologia) && card.tecnologia.length > 0 ? (
                        card.tecnologia.map((tecnologiaItem, tecnologiaIndex) => (
                          <Badge
                            key={tecnologiaIndex}
                            tecnologia={tecnologiaItem.tecnologia}
                            id={`tecnologia-${index + 1}-${tecnologiaIndex + 1}`}
                          />
                        ))
                      ) : null
                    ))
                  }
            </div>
            <a href={href} class="btn btn-primary float-end mt-3">Ver más</a>
        </div>
        <!-- Repite esta estructura para cada card adicional -->
    </div>
</div>
