---
import Card from "./Card.astro";
import Scripts from "./Scripts.astro";
import dataCards from "../config/dataCards.json";
---
<Scripts></Scripts>
<div class="container-fluid pt-3 pb-3" id="hero">
    <div class="container">
        <div class="row">
            <!-- Columna izquierda con contenido -->
            <div class="col-md-6 pt-3 pb-3">
                <!-- Imagen del desarrollador -->
                <img
                    src="/imgs/avatar.png"
                    alt="Avatar"
                    class="img-fluid mb-3"
                    width="250"
                />

                <!-- Título de la Sección -->
                <h2>
                    Mi Trayectoria como Desarrollador <span>Front-End</span>
                </h2>

                <!-- Descripción personal -->
                <p>
                    Soy un apasionado desarrollador front-end con experiencia en
                    la creación de interfaces web atractivas y funcionales. Me
                    esfuerzo por combinar diseño y desarrollo para ofrecer
                    experiencias de usuario excepcionales.
                </p>

                <!-- Iconos de redes sociales -->
                <div class="social-icons">
                    <a href="#" target="_blank"
                        ><i class="fab fa-facebook"></i></a
                    >
                    <a href="#" target="_blank"
                        ><i class="fab fa-instagram"></i></a
                    >
                </div>

                <!-- Botones con iconos a la izquierda -->
                <button class="btn btn-outline-warning mt-3"
                    ><i class="fas fa-code"></i> Proyectos</button
                >
                <button class="btn btn-outline-warning mt-3"
                    ><i class="fas fa-file"></i> Descargar CV</button
                >
            </div>

            <!-- Columna derecha con menú de pestañas (tabs) -->
            <div class="col-md-6 pt-3 pb-3">
                <!-- Menú de pestañas -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            id="tab1"
                            data-bs-toggle="tab"
                            href="#contenido1">Habilidades</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            id="tab2"
                            data-bs-toggle="tab"
                            href="#contenido2">Páginas Web
                        </a>
                    </li>
                </ul>

                <!-- Contenido de las pestañas -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="contenido1">
                        <!-- Contenido de la pestaña de habilidades -->
                    </div>

                    <div class="tab-pane fade" id="contenido2">
                        <!-- Contenido de la pestaña de proyectos -->
                        <div class="row mt-3">
                            {
                                dataCards.cards.map((card, index) => (
                                    <Card
                                        imagen={card.imagen}
                                        href={card.href}
                                        titulo={card.titulo}
                                        parrafo={card.parrafo}
                                        tecnologias={card.tecnologias}
                                    />
                                ))
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        #hero {
            background: linear-gradient(to right, #110c24, #2f2953, #03002c);

            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        span {
            color: #ce7a1c;
        }

        .fas {
            margin-right: 8px;
        }

        .fa-facebook,
        .fa-instagram {
            font-size: 2rem;
            margin-right: 10px;
        }

        .btn {
            margin-top: 10px;
        }
    </style>
</div>
